 @charset "utf-8";
/* ----------------------------------------------
	 Library Name :loveY
	      Version :1.60
	   Powered by :www.csscoo.com
	 Last Updated :Dec 18,2012
 ------------------------------------------------ */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td,form,fieldset,legend,input,button,textarea,blockquote,pre{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%}
h7{font-size:120%;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,cite,dfn,em,var{font-style:normal}
ol,ul{list-style:none}
input,select{vertical-align:middle}
legend{color:#000}
hr{border:none;height:1px}
button,input,select,textarea{font:14px/1 Arial,Tahoma,Helvetica,SimSun,san-serif}
.products-list table tr.list td a{font:16px/1}
html{overflow-y:scroll}
input[type="submit"]{cursor:pointer}
:focus{outline:none}
html{-webkit-text-size-adjust:none}/*chrome minium font-size fixed*/

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}mark{background:#ff0;color:#000}/*Html5 Elements's Style*/

.cl{clear:both}
.clear{clear:both;height:0;font:0/0 Arial;visibility:hidden}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}.clearfix{zoom:1}
.fl{float:left}
.fr{float:right}
.fb{font-weight:bold}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.tj{text-align:justify;text-justify:inter-ideograph}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.f24{font-size:24px}
.f28{font-size:28px}
.lh14{line-height:14px}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.m0{margin:0}
.ml0{margin-left:0}
.mr0{margin-right:0}
.mt10{margin-top:10px}
.mr10{margin-right:10px}
.mb10{margin-bottom:10px}
.ml10{margin-left:10px}
.rel{position:relative}
.abs{position:absolute}
.dn{display:none}
.db{display:block}
.wb{word-break:break-all;word-wrap:break-word}
.ws{white-space:nowrap}
.black{color:#000}
.white{color:#fff}
.gray{color:#808080}
.red{color:#f00}
.green{color:#090}
.blue{color:#03c}
.orange{color:#f60}
.non{padding:12px 5px}